In [84]:
import pandas as pd

In [85]:
df= pd.read_csv('THA21.20231203T191256.csv')
df1 = pd.read_csv("TII03.20231127174621.csv")
df2 = pd.read_csv("TII01.20231127174640.csv")

In [86]:
df1

,STATISTIC,Statistic Label,TLIST(W1),Week,C03132V03784,Luas Line,UNIT,VALUE
0,TII03C01,Passenger Journeys,2019W01,2019 Week 01,-,All Luas lines,Number,549533.0
1,TII03C01,Passenger Journeys,2019W01,2019 Week 01,1,Red line,Number,274139.0
2,TII03C01,Passenger Journeys,2019W01,2019 Week 01,2,Green line,Number,275394.0
3,TII03C01,Passenger Journeys,2019W02,2019 Week 02,-,All Luas lines,Number,839022.0
4,TII03C01,Passenger Journeys,2019W02,2019 Week 02,1,Red line,Number,408199.0
...,...,...,...,...,...,...,...,...
748,TII03C01,Passenger Journeys,2023W38,2023 Week 38,1,Red line,Number,533098.0
749,TII03C01,Passenger Journeys,2023W38,2023 Week 38,2,Green line,Number,498593.0
750,TII03C01,Passenger Journeys,2023W39,2023 Week 39,-,All Luas lines,Number,1013117.0
751,TII03C01,Passenger Journeys,2023W39,2023 Week 39,1,Red line,Number,512536.0
752,TII03C01,Passenger Journeys,2023W39,2023 Week 39,2,Green line,Number,500581.0

# Handling Missing Values

In [87]:
# Check for missing values
print(df.isnull().sum())
print(df1.isnull().sum())

# Depending on the context, choose to either fill missing values or drop them
# For example, filling with mean/median or forward fill for time series
df.fillna(method='ffill', inplace=True)
df1.fillna(method='ffill', inplace=True)

Statistic Label            0
Year                       0
Transport Traffic Site     0
Weeks of the year          0
UNIT                       0
VALUE                     34
dtype: int64
STATISTIC          0
Statistic Label    0
TLIST(W1)          0
Week               0
C03132V03784       0
Luas Line          0
UNIT               0
VALUE              9
dtype: int64

# Removing Duplicates

In [88]:
df.drop_duplicates(inplace=True)
df1.drop_duplicates(inplace=True)

# Consistency Checks

In [89]:
# Standardizing the text data
df['Transport Traffic Site'] = df['Transport Traffic Site'].str.lower()
df1['Luas Line'] = df1['Luas Line'].str.lower()

In [90]:
# Extract year from the string,
# which is part of 'TLIST(W1)' column in the format '2019W01'
df1['Year'] = df1['TLIST(W1)'].str.extract(r'(\d{4})')

In [91]:
# Remove the first four numbers and the space
df1['Weeks of the Year'] = df1['Week'].str[5:]

# Check the result
print(df1[['Weeks of the Year']].head())

  Weeks of the Year
0           Week 01
1           Week 01
2           Week 01
3           Week 02
4           Week 02

In [92]:
df1

,STATISTIC,Statistic Label,TLIST(W1),Week,C03132V03784,Luas Line,UNIT,VALUE,Year,Weeks of the Year
0,TII03C01,Passenger Journeys,2019W01,2019 Week 01,-,all luas lines,Number,549533.0,2019,Week 01
1,TII03C01,Passenger Journeys,2019W01,2019 Week 01,1,red line,Number,274139.0,2019,Week 01
2,TII03C01,Passenger Journeys,2019W01,2019 Week 01,2,green line,Number,275394.0,2019,Week 01
3,TII03C01,Passenger Journeys,2019W02,2019 Week 02,-,all luas lines,Number,839022.0,2019,Week 02
4,TII03C01,Passenger Journeys,2019W02,2019 Week 02,1,red line,Number,408199.0,2019,Week 02
...,...,...,...,...,...,...,...,...,...,...
748,TII03C01,Passenger Journeys,2023W38,2023 Week 38,1,red line,Number,533098.0,2023,Week 38
749,TII03C01,Passenger Journeys,2023W38,2023 Week 38,2,green line,Number,498593.0,2023,Week 38
750,TII03C01,Passenger Journeys,2023W39,2023 Week 39,-,all luas lines,Number,1013117.0,2023,Week 39
751,TII03C01,Passenger Journeys,2023W39,2023 Week 39,1,red line,Number,512536.0,2023,Week 39
752,TII03C01,Passenger Journeys,2023W39,2023 Week 39,2,green line,Number,500581.0,2023,Week 39

In [93]:
# Dropping the 'TLIST(W1)' and 'Week' columns
df1 = df1.drop(['TLIST(W1)', 'Week'], axis=1)

In [94]:

dff = pd.DataFrame(df1)

# Pivoting the DataFrame
pivot_df = df1.pivot_table(index=['Weeks of the Year', 'Year'], columns='Luas Line', values='VALUE', aggfunc='first')

# Resetting the index to make 'Weeks of the Year' and 'Year' into columns
pivot_df.reset_index(inplace=True)

In [95]:
pivot_df.head()

Luas Line Weeks of the Year  Year  all luas lines  green line  red line
0                   Week 01  2019        549533.0    275394.0  274139.0
1                   Week 01  2020        602998.0    298391.0  304607.0
2                   Week 01  2021        154882.0     68364.0   86518.0
3                   Week 01  2022        345593.0    161546.0  184047.0
4                   Week 01  2023        711191.0    339997.0  371194.0

In [96]:
df

,Statistic Label,Year,Transport Traffic Site,Weeks of the year,UNIT,VALUE
0,Average weekly volume of cars,2019,selected traffic sites - dublin,Week 01,Number,463064.0
1,Average weekly volume of cars,2019,selected traffic sites - dublin,Week 02,Number,534609.0
2,Average weekly volume of cars,2019,selected traffic sites - dublin,Week 03,Number,549470.0
3,Average weekly volume of cars,2019,selected traffic sites - dublin,Week 04,Number,550892.0
4,Average weekly volume of cars,2019,selected traffic sites - dublin,Week 05,Number,543468.0
...,...,...,...,...,...,...
525,Average weekly volume of cars,2023,selected traffic sites - regional,Week 49,Number,194883.0
526,Average weekly volume of cars,2023,selected traffic sites - regional,Week 50,Number,194883.0
527,Average weekly volume of cars,2023,selected traffic sites - regional,Week 51,Number,194883.0
528,Average weekly volume of cars,2023,selected traffic sites - regional,Week 52,Number,194883.0
529,Average weekly volume of cars,2023,selected traffic sites - regional,Week 53,Number,194883.0

# Feature Engineering
Converting Weeks to DateTime

In [97]:
df['Week'] = pd.to_datetime(df['Year'].astype(str) + df['Weeks of the year'].str.replace('Week ', '') + '1', format='%Y%W%w')
pivot_df['Week'] = pd.to_datetime(pivot_df['Year'].astype(str) + pivot_df['Weeks of the Year'].str.replace('Week ', '') + '1', format='%Y%W%w')

# Merging Datasets

In [98]:
merged_data = pd.merge(df, pivot_df, on='Week', how='inner')

# Creating New Features

In [99]:
merged_data['Month'] = merged_data['Week'].dt.month
merged_data['Week_Number'] = merged_data['Week'].dt.week

C:\Users\t_all\AppData\Local\Temp\ipykernel_13600\3051138626.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  merged_data['Week_Number'] = merged_data['Week'].dt.week

# Final Preparations

In [100]:
print(merged_data.info())
print(merged_data.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 518 entries, 0 to 517
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Statistic Label         518 non-null    object
 1   Year_x                  518 non-null    int64
 2   Transport Traffic Site  518 non-null    object
 3   Weeks of the year       518 non-null    object
 4   UNIT                    518 non-null    object
 5   VALUE                   518 non-null    float64
 6   Week                    518 non-null    datetime64[ns]
 7   Weeks of the Year       518 non-null    object
 8   Year_y                  518 non-null    object
 9   all luas lines          518 non-null    float64
 10  green line              518 non-null    float64
 11  red line                518 non-null    float64
 12  Month                   518 non-null    int64
 13  Week_Number             518 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 60.7+ KB
None
            Year_x          VALUE  all luas lines     green line  \
count   518.000000     518.000000    5.180000e+02     518.000000
mean   2020.891892  330251.281853    6.341444e+05  310207.876448
std       1.366882  183041.126478    3.085107e+05  151092.522834
min    2019.000000   43828.000000    4.939300e+04   19727.000000
25%    2020.000000  178395.500000    3.505325e+05  176893.000000
50%    2021.000000  200799.000000    7.017030e+05  331511.000000
75%    2022.000000  537446.750000    9.135015e+05  446686.250000
max    2023.000000  603575.000000    1.173473e+06  622699.000000

            red line       Month  Week_Number
count     518.000000  518.000000   518.000000
mean   329180.490347    6.038610    24.552124
std    154553.998471    3.469466    15.255661
min     29666.000000    1.000000     1.000000
25%    186836.250000    3.000000    11.000000
50%    367620.000000    6.000000    24.000000
75%    467923.000000    9.000000    37.000000
max    598293.000000   12.000000    53.000000

# Saving Processed Data

In [101]:
merged_data.to_csv('processed_traffic_data.csv', index=False)

In [102]:
data = pd.read_csv("processed_traffic_data.csv")

In [103]:
data.tail(50)

,Statistic Label,Year_x,Transport Traffic Site,Weeks of the year,UNIT,VALUE,Week,Weeks of the Year,Year_y,all luas lines,green line,red line,Month,Week_Number
468,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 15,Number,555820.0,2023-04-10,Week 15,2023,830253.0,354148.0,476106.0,4,15
469,Average weekly volume of cars,2023,selected traffic sites - regional,Week 15,Number,189908.0,2023-04-10,Week 15,2023,830253.0,354148.0,476106.0,4,15
470,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 16,Number,567667.0,2023-04-17,Week 16,2023,936981.0,443616.0,493366.0,4,16
471,Average weekly volume of cars,2023,selected traffic sites - regional,Week 16,Number,192204.0,2023-04-17,Week 16,2023,936981.0,443616.0,493366.0,4,16
472,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 17,Number,575866.0,2023-04-24,Week 17,2023,913737.0,418215.0,495522.0,4,17
473,Average weekly volume of cars,2023,selected traffic sites - regional,Week 17,Number,195635.0,2023-04-24,Week 17,2023,913737.0,418215.0,495522.0,4,17
474,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 18,Number,574729.0,2023-05-01,Week 18,2023,885361.0,401836.0,483525.0,5,18
475,Average weekly volume of cars,2023,selected traffic sites - regional,Week 18,Number,190337.0,2023-05-01,Week 18,2023,885361.0,401836.0,483525.0,5,18
476,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 19,Number,583611.0,2023-05-08,Week 19,2023,939287.0,443212.0,496075.0,5,19
477,Average weekly volume of cars,2023,selected traffic sites - regional,Week 19,Number,196812.0,2023-05-08,Week 19,2023,939287.0,443212.0,496075.0,5,19
478,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 20,Number,586716.0,2023-05-15,Week 20,2023,934041.0,446753.0,487287.0,5,20
479,Average weekly volume of cars,2023,selected traffic sites - regional,Week 20,Number,194848.0,2023-05-15,Week 20,2023,934041.0,446753.0,487287.0,5,20
480,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 21,Number,593121.0,2023-05-22,Week 21,2023,942106.0,343813.0,598293.0,5,21
481,Average weekly volume of cars,2023,selected traffic sites - regional,Week 21,Number,197180.0,2023-05-22,Week 21,2023,942106.0,343813.0,598293.0,5,21
482,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 22,Number,584798.0,2023-05-29,Week 22,2023,712764.0,329521.0,383243.0,5,22
483,Average weekly volume of cars,2023,selected traffic sites - regional,Week 22,Number,198514.0,2023-05-29,Week 22,2023,712764.0,329521.0,383243.0,5,22
484,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 23,Number,572057.0,2023-06-05,Week 23,2023,845530.0,379988.0,465542.0,6,23
485,Average weekly volume of cars,2023,selected traffic sites - regional,Week 23,Number,192228.0,2023-06-05,Week 23,2023,845530.0,379988.0,465542.0,6,23
486,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 24,Number,583623.0,2023-06-12,Week 24,2023,908491.0,425858.0,482633.0,6,24
487,Average weekly volume of cars,2023,selected traffic sites - regional,Week 24,Number,191776.0,2023-06-12,Week 24,2023,908491.0,425858.0,482633.0,6,24
488,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 25,Number,589136.0,2023-06-19,Week 25,2023,942501.0,432325.0,510176.0,6,25
489,Average weekly volume of cars,2023,selected traffic sites - regional,Week 25,Number,198125.0,2023-06-19,Week 25,2023,942501.0,432325.0,510176.0,6,25
490,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 26,Number,593720.0,2023-06-26,Week 26,2023,965830.0,440830.0,525000.0,6,26
491,Average weekly volume of cars,2023,selected traffic sites - regional,Week 26,Number,197770.0,2023-06-26,Week 26,2023,965830.0,440830.0,525000.0,6,26
492,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 27,Number,575365.0,2023-07-03,Week 27,2023,917233.0,415577.0,501656.0,7,27
493,Average weekly volume of cars,2023,selected traffic sites - regional,Week 27,Number,198384.0,2023-07-03,Week 27,2023,917233.0,415577.0,501656.0,7,27
494,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 28,Number,562654.0,2023-07-10,Week 28,2023,854628.0,396355.0,458273.0,7,28
495,Average weekly volume of cars,2023,selected traffic sites - regional,Week 28,Number,190701.0,2023-07-10,Week 28,2023,854628.0,396355.0,458273.0,7,28
496,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 29,Number,565481.0,2023-07-17,Week 29,2023,866913.0,403240.0,463673.0,7,29
497,Average weekly volume of cars,2023,selected traffic sites - regional,Week 29,Number,196467.0,2023-07-17,Week 29,2023,866913.0,403240.0,463673.0,7,29
498,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 30,Number,573426.0,2023-07-24,Week 30,2023,898925.0,408738.0,490187.0,7,30
499,Average weekly volume of cars,2023,selected traffic sites - regional,Week 30,Number,197763.0,2023-07-24,Week 30,2023,898925.0,408738.0,490187.0,7,30
500,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 31,Number,566094.0,2023-07-31,Week 31,2023,807150.0,340441.0,466708.0,7,31
501,Average weekly volume of cars,2023,selected traffic sites - regional,Week 31,Number,201570.0,2023-07-31,Week 31,2023,807150.0,340441.0,466708.0,7,31
502,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 32,Number,566180.0,2023-08-07,Week 32,2023,773935.0,336659.0,437277.0,8,32
503,Average weekly volume of cars,2023,selected traffic sites - regional,Week 32,Number,199188.0,2023-08-07,Week 32,2023,773935.0,336659.0,437277.0,8,32
504,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 33,Number,580231.0,2023-08-14,Week 33,2023,830665.0,381530.0,449135.0,8,33
505,Average weekly volume of cars,2023,selected traffic sites - regional,Week 33,Number,200374.0,2023-08-14,Week 33,2023,830665.0,381530.0,449135.0,8,33
506,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 34,Number,590693.0,2023-08-21,Week 34,2023,900531.0,405320.0,495211.0,8,34
507,Average weekly volume of cars,2023,selected traffic sites - regional,Week 34,Number,203561.0,2023-08-21,Week 34,2023,900531.0,405320.0,495211.0,8,34
508,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 35,Number,583862.0,2023-08-28,Week 35,2023,844129.0,411878.0,432251.0,8,35
509,Average weekly volume of cars,2023,selected traffic sites - regional,Week 35,Number,197990.0,2023-08-28,Week 35,2023,844129.0,411878.0,432251.0,8,35
510,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 36,Number,586130.0,2023-09-04,Week 36,2023,898741.0,432905.0,465836.0,9,36
511,Average weekly volume of cars,2023,selected traffic sites - regional,Week 36,Number,199974.0,2023-09-04,Week 36,2023,898741.0,432905.0,465836.0,9,36
512,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 37,Number,563455.0,2023-09-11,Week 37,2023,907481.0,445474.0,462007.0,9,37
513,Average weekly volume of cars,2023,selected traffic sites - regional,Week 37,Number,195880.0,2023-09-11,Week 37,2023,907481.0,445474.0,462007.0,9,37
514,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 38,Number,575855.0,2023-09-18,Week 38,2023,1031691.0,498593.0,533098.0,9,38
515,Average weekly volume of cars,2023,selected traffic sites - regional,Week 38,Number,196820.0,2023-09-18,Week 38,2023,1031691.0,498593.0,533098.0,9,38
516,Average weekly volume of cars,2023,selected traffic sites - dublin,Week 39,Number,569752.0,2023-09-25,Week 39,2023,1013117.0,500581.0,512536.0,9,39
517,Average weekly volume of cars,2023,selected traffic sites - regional,Week 39,Number,194883.0,2023-09-25,Week 39,2023,1013117.0,500581.0,512536.0,9,39

In [105]:
data.isnull().sum()

Statistic Label           0
Year_x                    0
Transport Traffic Site    0
Weeks of the year         0
UNIT                      0
VALUE                     0
Week                      0
Weeks of the Year         0
Year_y                    0
all luas lines            0
green line                0
red line                  0
Month                     0
Week_Number               0
dtype: int64